.r-gap1 {
    display: flex;
    flex-direction: row;
    gap: 8px
}

.r-gap2 {
    display: flex;
    flex-direction: row;
    gap: calc(8px * 2)
}

.r-gap3 {
    display: flex;
    flex-direction: row;
    gap: calc(8px * 3)
}

.r-gap4 {
    display: flex;
    flex-direction: row;
    gap: calc(8px * 4)
}

.r-gap5 {
    display: flex;
    flex-direction: row;
    gap: calc(8px * 5)
}

.r-gap6 {
    display: flex;
    flex-direction: row;
    gap: calc(8px * 6)
}

.r-gap7 {
    display: flex;
    flex-direction: row;
    gap: calc(8px * 7)
}

.r-gap8 {
    display: flex;
    flex-direction: row;
    gap: calc(8px * 8)
}

.r-gap9 {
    display: flex;
    flex-direction: row;
    gap: calc(8px * 9)
}

.r-gap10 {
    display: flex;
    flex-direction: row;
    gap: calc(8px * 10)
}

