--

.gap1 {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.gap2 {
    display: flex;
    flex-direction: column;
    gap: calc(8px * 2)
}

.gap3 {
    display: flex;
    flex-direction: column;
    gap: calc(8px * 3)
}

.gap4 {
    display: flex;
    flex-direction: column;
    gap: calc(8px * 4)
}

.gap5 {
    display: flex;
    flex-direction: column;
    gap: calc(8px * 5)
}

.gap6 {
    display: flex;
    flex-direction: column;
    gap: calc(8px * 6)
}

.gap7 {
    display: flex;
    flex-direction: column;
    gap: calc(8px * 7)
}

.gap8 {
    display: flex;
    flex-direction: column;
    gap: calc(8px * 8)
}

.gap9 {
    display: flex;
    flex-direction: column;
    gap: calc(8px * 9)
}

.gap10 {
    display: flex;
    flex-direction: column;
    gap: calc(8px * 10)
}

