* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  min-width: 300px;
}

html {
  scroll-snap-type: y proximity;
}

a {
  color: inherit;
  text-decoration: none;
}

.cp {
  /* background-image: linear-gradient(#E5A019, #E5A019); */
  background-image: linear-gradient(#000000, #000000);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .2s;
  cursor: pointer;
}

.cp:hover {
  background-size: 100% 2px;
}

.column-centered {
  display: flex;
  flex-direction: column;
  align-items: center
}

.shadow {
  -webkit-box-shadow: 3px 3px 10px 3px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 3px 3px 10px 3px rgba(34, 60, 80, 0.2);
  box-shadow: 3px 3px 10px 3px rgba(34, 60, 80, 0.2);
}